.browser-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: var(--bg-primary);
    position: relative;
    overflow: hidden;
}

.content-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 0;
    background: var(--bg-primary);
}

.browser-container.fullscreen {
    height: 100vh;
    width: 100vw;
}

.browser-container.fullscreen .content-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}
